APP_NAME = "arabic-legal-rag"
APP_VERSION = "0.1.0"

## postgres
POSTGRES_HOST = 
POSTGRES_PORT = 
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_MAIN_DB = 

## LLM
GENERATION_BACKEND = "gemini"
EMBEDDING_BACKEND = "cohere"

GEMINI_APY_KEY = "API_key_______"
COHERE_API_KEY = "API_key_______"

GENERATION_MODEL_ID = "gemini-3.7-flash"
EMBEDDING_MODEL_ID = "embed-v4.0"
EMBEDDING_SIZE = 1024

MAX_INPUT_TOKENS = 1000
MAX_OUTPUT_TOKENS = 1000
TEMPERATURE = 0.1
